<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>maxHistory</key>
	<integer>20</integer>
	<key>wipe_data</key>
	<false/>
	<key>source_server_array</key>
	<array/>
	<key>source_jp_server</key>
	<string></string>
	<key>source_user</key>
	<string></string>
	<key>dest_server_array</key>
	<array/>
	<key>dest_jp_server</key>
	<string></string>
	<key>dest_user</key>
	<string></string>
	<key>storeCredentials</key>
	<integer>0</integer>
</dict>
</plist>
