<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkForUpdate</key>
	<true/>
	<key>dest_server_array</key>
	<array/>
	<key>source_server_array</key>
	<array/>
	<key>maxHistory</key>
	<integer>20</integer>
	<key>wipe_data</key>
	<false/>
	<key>source_jp_server</key>
	<string></string>
	<key>source_user</key>
	<string></string>
	<key>dest_jp_server</key>
	<string></string>
	<key>dest_user</key>
	<string></string>
	<key>storeCredentials</key>
	<integer>0</integer>
	<key>scope</key>
	<dict>
		<key>iosapps</key>
		<dict>
			<key>copy</key>
			<true/>
		</dict>
		<key>macapps</key>
		<dict>
			<key>copy</key>
			<true/>
		</dict>
		<key>sig</key>
		<dict>
			<key>copy</key>
			<true/>
		</dict>
		<key>users</key>
		<dict>
			<key>copy</key>
			<true/>
		</dict>
		<key>scg</key>
		<dict>
			<key>copy</key>
			<true/>
		</dict>
		<key>mobiledeviceconfigurationprofiles</key>
		<dict>
			<key>copy</key>
			<true/>
		</dict>
		<key>osxconfigurationprofiles</key>
		<dict>
			<key>copy</key>
			<true/>
		</dict>
		<key>policies</key>
		<dict>
			<key>copy</key>
			<true/>
			<key>disable</key>
			<false/>
		</dict>
		<key>restrictedsoftware</key>
		<dict>
			<key>copy</key>
			<true/>
		</dict>
	</dict>
	<key>xml</key>
	<dict>
		<key>saveOnly</key>
		<false/>
		<key>saveRawXml</key>
		<false/>
		<key>saveTrimmedXml</key>
		<false/>
		<key>saveRawXmlScope</key>
		<true/>
		<key>saveTrimmedXmlScope</key>
		<true/>
	</dict>
</dict>
</plist>
